*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    background: red;
    height: 70px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 45px;
    line-height: 70px;
    padding: 0 70px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 1px;
}

a.active,a:hover{
    background: rgb(236, 129, 129);
    transition: .5s;
}

h1{
    font-size: 15px;
    text-align: center;
    padding: 25px 100px;
}

.banner{
    width: 100%;
    height: auto;
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-family: Marvel;
    font-weight: bold;
}

body{
    background-color: rgb(188, 193, 199);
}

.section1{
    display: flex;
    justify-content: space-between;
}

.absec{
    width: 50%;
    height: auto;
}

h3{
    justify-content: center;
    font-family: Marvel;
    font-size: 30px;
    text-align: center;
    padding-right: 200px;
}

.list{
    justify-content: center;
    text-align: center;
    padding-right: 200px;
    padding-top: 20px;
}

.section2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

h4{
    justify-content: center;
    font-family: Marvel;
    font-size: 30px;
    text-align: center;
}

.bio{
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.biosec{
    width: 50%;
    height: auto;
}

h5{
    display:flex;
    justify-content: center;
    font-family: Marvel;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

.lastsec{
    width: 900px;
    height: 500px;
    padding-top: 20px;
    padding-left: 350px;
}